# Entorno virtual Python
entorno_web_seguros/

# Archivos subidos por usuarios
backend-web-seguros/uploads/

# Variables de entorno
.env

# Python
__pycache__/
*.pyc
*.pyo

# Node / Frontend
node_modules/
dist/
.vite/

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# css viejo
App_MATI.css