/* ====================
RESET
==================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* ====================
HTML
==================== */

html{
scroll-behavior:smooth;
}

/* ====================
BODY
==================== */

body{

font-family:
'Inter',
sans-serif;

background:
#ffffff;

color:
#07195a;

overflow-x:hidden;

}

/* ====================
TIPOGRAFIA PREMIUM
==================== */

h1,
h2,
h3{

font-family:
'Cormorant Garamond',
serif;

font-weight:
600;

letter-spacing:
-1px;

}

h4,
h5,
h6,
p,
span,
button,
input,
textarea,
select,
a,
li{

font-family:
'Inter',
sans-serif;

}

button{

cursor:pointer;

}

a{

text-decoration:none;

color:inherit;

}

img{

max-width:100%;

display:block;

}

/* ====================
SELECCION
==================== */

::selection{

background:
#f47c20;

color:
white;

}

/* ====================
SCROLL
==================== */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:
#07195a;

border-radius:
999px;

}

::-webkit-scrollbar-track{

background:
#ececec;

}