/* ====================
RESET
==================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:
'Inter',
sans-serif;

background:
#ffffff;

color:
#07195a;

overflow-x:hidden;

-webkit-font-smoothing:antialiased;

}

/* ====================
TIPOGRAFIA
==================== */

h1{

font-family:
'Inter',
sans-serif;

font-weight:
800;

letter-spacing:
-2px;

}

h2{

font-family:
'Inter',
sans-serif;

font-weight:
700;

letter-spacing:
-1px;

}

h3{

font-family:
'Inter',
sans-serif;

font-weight:
700;

}

h4,
h5,
h6,
p,
span,
button,
input,
textarea,
select,
a,
li{

font-family:
'Inter',
sans-serif;

}

p{

line-height:
1.7;

}

button{

cursor:pointer;

}

a{

text-decoration:none;

color:inherit;

}

img{

max-width:100%;

display:block;

}

/* ====================
SELECCION
==================== */

::selection{

background:
#f47c20;

color:
white;

}

/* ====================
SCROLL
==================== */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:
#07195a;

border-radius:
999px;

}

::-webkit-scrollbar-track{

background:
#ececec;

}