# Conexión a MariaDB
# Formato: mysql+pymysql://usuario:contraseña@host:puerto/nombre_bd
DATABASE_URL=mysql+pymysql://root:tu_contraseña@localhost:3306/seguros_web_db

# Orígenes permitidos para CORS (separados por coma)
ALLOWED_ORIGINS=http://localhost:5173

# JWT
SECRET_KEY=cambia_esto_por_una_clave_secreta_larga
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
